@font-face {
  font-family: 'ClearSans';
  src: url('./../public/fonts/clear-sans/ClearSans-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('./../public/fonts/clear-sans/ClearSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('./../public/fonts/clear-sans/ClearSans-Italic.ttf')
    format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ClearSans';
  src: url('./../public/fonts/clear-sans/ClearSans-BoldItalic.ttf')
    format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'ClearSans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spinner {
  position: fixed;
  top: 25%;
  left: 50%;
}